@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

* {
  font-family: var(--font-sans);
}

.swiper-button-next,
.swiper-button-prev {
  color: #3b82f6 !important;
  @apply hidden sm:flex;
}

.swiper-pagination-bullet-active {
  background: #3b82f6 !important;
}

.swiper {
  padding-bottom: 3rem !important;
}

.swiper-slide {
  height: auto !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #1f71d0 !important;
}
